---
downloads: true
---
{% include header.htm %}

<h2><a name="qtcreator-3.1.1" class="anchor" href="#qtcreator-3.1.1"><span class="octicon octicon-link"></span></a>
QtCreator 3.1.1 (Qt 5.2.1)</h2>
<section id="downloads" class="clearfix">
<a href="{{ site.baseurl }}/downloads" id="windows-download" class="button"><span>Windows</span></a>
<a href="{{ site.baseurl }}/downloads" id="linux-download" class="button"><span>Linux</span></a>
<a href="{{ site.baseurl }}/downloads" id="mac-download" class="button"><span>Mac OS</span></a> 
</section>

<h3>Sources</h3>
<p>The sources of this plugin can be downloaded from <a href="https://github.com/beige/CreatorStyleEdit/zipball/master">github</a></p>
{% include footer.htm %}