---
overview: true
---
{% include header.htm %}
<script src="{{ site.baseurl }}/javascripts/lightbox/jquery-1.11.0.min.js"></script>
<script src="{{ site.baseurl }}/javascripts/lightbox/lightbox.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/lightbox.css" media="screen" />
          <h3>
<a name="welcome" class="anchor" href="#welcome"><span class="octicon octicon-link"></span></a>Welcome</h3>

<p>This is the project page of <a href="https://github.com/beige/CreatorStyleEdit">CreatorStyleEdit</a>, a plugin for the Qt Creator IDE. It is used to colorize the navigation widgets and the output panes by setting a user defined QPalette on them.</p>
<p>
<a href="{{ site.baseurl }}/images/QtCreator_3.1.1.jpg" data-lightbox="image-1" data-title="QtCreator with styles set through CreatorStyleEdit"><img class="thumb-image" src="{{ site.baseurl }}/images/QtCreator_3.1.1.jpg" alt="QtCreator with styles set through CreatorStyleEdit" /></a>
<a href="{{ site.baseurl }}/images/CreatorStyleEdit_0.1_dialog.jpg" data-lightbox="image-2" data-title="CreatorStyleEdit Dialog"><img class="thumb-image" src="{{ site.baseurl }}/images/CreatorStyleEdit_0.1_dialog.jpg" alt="CreatorStyleEdit Dialog" /></a>
</p>
<h3>
<a name="why-no-stylesheets" class="anchor" href="#why-no-stylesheets"><span class="octicon octicon-link"></span></a>Why not using stylesheets?</h3>
<p>I've used QtCreator with the <code>-stylesheet</code> command line argument to get a dark color scheme. Since QtCreator 3.1.1, this doesn't work properly and seems to be a bug in QtCreator (<a href="https://bugreports.qt-project.org/browse/QTCREATORBUG-12078">see Qt Bug #12078</a>).</p>
<p>After investigating the QtCreator sources, I've found out that it is using an application wide custom stlye (so called Manhattan Style) and that the Qt documentation states that Qt style sheets are currently not supported for custom QStyle subclasses. So I decided, to write a small plugin which sets the QPalette directly on the widget classes that are not styled by the color scheme for the text editor.</p>
<h5>Future Development</h5>
<p>Future development could include the possibility to set and edit stylesheets on QtCreator at runtime. This has the advantage, that QtCreator must not be closed and started again for editing the style sheet.</p>
<h3>
<a name="installation" class="anchor" href="#installation"><span class="octicon octicon-link"></span></a>Installation</h3>
<p>For installation, just copy the CreatorStyleEdit folder into the plugin directory of QtCreator. Which is located as follows:</p>
<h4>Windows</h4>
<p>Under Windows, the plugin directory of QtCreator is located in the QtCreator installation under <code>lib\qtcreator\plugins</code>. 
If you have installed QtCreator along with Qt 5.3.0 in C:\Qt\Qt5.3.0, the plugin directory will be at <code>C:\Qt\Qt5.3.0\Tools\QtCreator\lib\qtcreator\plugins</code></p>
<h4>Linux</h4>
<p>If you have installed Qt into your home directory, the path to the plugin directory is similar to the Windows path. As an example, if you have installed Qt into a directory /home/yourname/bin/Qt5.3.0, the QtCreator plugin directory will be at <code>/home/yourname/bin/Qt5.3.0/Tools/QtCreator/lib/qtcreator/plugins</code></p>
<h4>Mac OS X</h4>
<p>Under Mac OS X, the directory for QtCreator plugins is located in the Qt Creator.app under <code>Qt Creator.app/Contents/PlugIns</code>. To open the app as directory, navigate to the app, open the context menu and click on Show package content. Now you can see the Contents directory.</p>
<h3>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage</h3>
<p>After installation, the dialog of CreatorStyleEdit can be opened with <strong>Tools -> Style Editor -> Edit Style</strong>. Every line of the dialog modifies another color role of the palette. The rectangle in the center of the line shows the current color of the role and a click on the Select button opens up a color picker dialog.</p>
<p>A click on Apply or Ok sets the current palette of the dialog on all widgets and saves it permanently. On the next startup of Qt Creator, the palette will be loaded from the settings and applied on all widgets.</p>
<p>The button Restore Defaults can be used to reset the palette to the application default palette.</p>
<h3>
<a name="what-will-be-styled" class="anchor" href="#what-will-be-styled"><span class="octicon octicon-link"></span></a>Which Widgets will be styled?</h3>
<h5>Navigation widgets</h5>
<ul>
	<li>Projects</li>
	<li>Open Documents</li>
	<li>Bookmarks</li>
	<li>File System</li>
	<li>Class View</li>
	<li>Outline</li>
	<li>Type Hierarchy</li>
	<li>Include Hierarchy</li>
</ul>
<h5>Output Panes</h5>
<ul>
	<li>Issues</li>
	<li>Search Results</li>
	<li>Application Output</li>
	<li>Compile Output</li>
	<li>QML/JS Console</li>
	<li>General Messages</li>
	<li>Version Control</li>
</ul>
<h5>Debugging Widgets</h5>
<p>All debugging widgets will be styled, which includes e.g. the stack view, locals and expressions and the thread view.</p>
<h3>
<a name="license" class="anchor" href="#license"><span class="octicon octicon-link"></span></a>License</h3>

<p>MIT License</p>

{% include footer.htm %}
