---
overview: true
---
{% include header.htm %}
          <h3>
<a name="welcome" class="anchor" href="#welcome"><span class="octicon octicon-link"></span></a>Welcome</h3>

<p>This is the project page of CreatorStyleEdit, a plugin for the Qt Creator IDE. It is used to colorize the navigation widgets and the output panes by setting a user defined QPalette on them.</p>
<h3>
<a name="why-no-stylesheets" class="anchor" href="#why-no-stylesheets"><span class="octicon octicon-link"></span></a>Why no stylesheets?</h3>
<p>I've used QtCreator with the -stylesheet command line argument to get a dark color scheme. Since QtCreator 3.1.1, this doesn't seem to work properly and seems to be a bug in QtCreator.</p>
<p>After investigating the QtCreator sources, I've found out that it is using an application wide custom stlye (so called Manhattan Style) and that the Qt documentation states that Qt style sheets are currently not supported for custom QStyle subclasses. So I decided, that I will write a small plugin which sets the QPalette directly on the widget classes that are not styled by the color scheme for the text editor.</p>
<h5>Future Development</h5>
<p>Future development could include the possibility to set and edit stylesheets on QtCreator at runtime. This has the advantage, that QtCreator must not be closed and started again for editing the style sheet.</p>
<h3>
<a name="installation" class="anchor" href="#installation"><span class="octicon octicon-link"></span></a>Installation</h3>
<p>Copy plugin folder to QtCreator's plugin folder.</p>
<h3>
<a name="what-will-be-styled" class="anchor" href="#what-will-be-styled"><span class="octicon octicon-link"></span></a>Which Widgets will be styled?</h3>
<h5>Navigation widgets</h5>
<ul>
	<li>Projects</li>
	<li>Open Documents</li>
	<li>Bookmarks</li>
	<li>File System</li>
	<li>Class View</li>
	<li>Outline</li>
	<li>Type Hierarchy</li>
	<li>Include Hierarchy</li>
</ul>
<h5>Output Panes</h5>
<ul>
	<li>Issues</li>
	<li>Search Results</li>
	<li>Application Output</li>
	<li>Compile Output</li>
	<li>QML/JS Console</li>
	<li>General Messages</li>
	<li>Version Control</li>
</ul>
<h3>
<h3>
<a name="license" class="anchor" href="#license"><span class="octicon octicon-link"></span></a>License</h3>

<p>MIT License</p>

{% include footer.htm %}